    <header>
        <nav class="navbar">
            <a href="index.html" class="logo">FORMULA 1 INTERATIVA 🏎️</a>
            <ul class="nav-links">
                <li><a href="#team-history-section">Minha Equipe</a></li>
                <li><a href="#driver-facts-section">Meu Piloto</a></li>
                <li><a href="#circuits-container">Circuitos</a></li>
                <li><a href="#history-f1">História</a></li>
            </ul>
            <div class="nav-icons">
                <a href="registro" id="user-greeting">Login</a> 
            </div>
            <button class="hamburger-menu" aria-label="Abrir Menu">☰</button>
        </nav>
    </header>